/* 页脚 */
.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}

/*页面内容字体*/
body, button, input, select, textarea {
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    background-color: #eee;
}

/* 导航条 */
.navbar,
.nav-top-container {
    background: #28444C;
    margin-bottom: 0px;
    border: 0;
}

.navbar-nav > li > a {
    color: ghostwhite !important;
}

.navbar-nav > li > a:hover {
    color: #337ab7 !important;
}

.btn-nav-home {
    padding-top: 5px;
}

/* 右上角图标 */
.nav-ico {
    margin-top: 10px;
    margin-right: 20px;
    background-color: #28444C;
    border: 0;
    color: #f5f5f5;
}

