<include file="./Application/Home/View/header.html"/>
<div class="container post-show" style="margin-top:50px">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="media">
                <div class="media-left">
                    <a>
                        <img src="__PUBLIC__/pics/{$post['headshot_id']}.png" style="width: 60px;height:60px">
                    </a>
                </div>
                <div class="media-body">
                    <php>$url = U('Post/content?postid=' . $post['postid']);</php>
                    <a href="{$url}" class="post-title"
                       style="font-size: 25px">{$post['title']}</a>
                    <br>
                    <div style="padding-top: 0px">{$post['time']} &nbsp; {$post['read_count']}</div>
                </div>
            </div>
            <br>
            {$post['content']}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<include file="./Application/Home/View/footer.html"/>
